.main_post {
  grid-area: main_post;
  overflow: scroll;
}

.main_post_wrap {
  margin: 100px auto;
  width: 90%;
  height: auto;
}

.post_lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.post {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-shadow: none;
  height: 300px;
  overflow: scroll;
}

.post:hover {
  border: 1px solid #6c6c6c;
  cursor: pointer;
}

.post_user_link {
  text-decoration: none;
}

.post_user_name {
  font-size: 16px;
  opacity: 0.5;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 3px 10px;
  color: black;
}

.post_show_link {
  text-decoration: none;
}

.post_title {
  font-size: 18px;
  padding: 5px 10px;
  color: black;
}

.post_body {
  font-size: 1rem;
  padding: 5px 10px;
  color: black;
}

@media screen and (max-width: 1200px) {
  .post_lists {
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  .post_lists {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}