.post_lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.post {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-shadow: none;
}

.post:hover {
  border: 1px solid #6c6c6c;
  cursor: pointer;
}

.post_title {
  font-size: 24px;
}

.post_body {
  
}