<div class="wrapper">
  <header class="post_header">
    <%= render "shared/header" %>
  </header>
  <aside class="side_bar">
    <%= render "shared/side_bar" %>
  </aside>
  <main class="main_post">
    <%= render "shared/main_post", class: "main_post" %>
  </main>
</div>