.need_login_wrap {
  margin: 200px auto 0 auto;
  width: min(60vw, 500px);
  height: auto;
  padding: 30px;
  text-align: center;
  border-radius: 14px;
  border: 1px solid brown;
}

.need_login_text {
  font-size: 20px;
  color: #263238;
  margin-bottom: 10px;
}

.need_sign_up {
  margin-right: 10px;
}

.need_login {

}