/* Top page layout */

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template:
    "post_header post_header" 64px
    "side_bar main_post" 1fr
    / 250px 1fr;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template:
    "post_header" 56px
    "main_post" 1fr
    / 1fr ;
  }
}